.virtual-waterfall {
  position: relative;
}

.virtual-waterfall .spacer {
  position: absolute;
  left: 0;
  width: 100%;
}

.virtual-waterfall .heighter {
}

.virtual-waterfall .item {
  position: absolute;
  left: 0;
  top: 0;
}
